@use "../config/mixins" as *;
@use "../config/colors" as *;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: clamp(0.75rem, 0.4651rem + 0.5935vw, 1rem);
    font-family:
        "Bradley Hand",
        "Segoe Script",
        "Lucida Handwriting",
        "Comic Sans MS",
        cursive;
    scrollbar-width: thin;
    scrollbar-color: $primary $secondary_10;

    @include break("lg") {
        font-size: 14px;
    }

    @include break("sm") {
        font-size: 12px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: $secondary_10;

    #root {
        flex: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

svg {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: $primary;
    text-shadow: 0 0 1rem $secondary_70;
    margin-bottom: 2rem;
}