@use "../config/mixins" as *;

.wrapper {
    width: 85%;
    margin: 11rem auto 0;

    &.margin-sero {
        margin: 0 auto;
    }

    @include break("lg") {
        width: 90%;
    }

    @include break("md") {
        margin: 10rem auto 1rem;
    }

    @include break("xs") {
        margin: 12rem auto 1rem;
    }

    @include break("xxs") {
        width: 97%;
    }

    &-75 {
        width: 75%;
        margin: 0 auto;
    }

    &-50 {
        width: 50%;
        margin: 0 auto;

        @include break("lg") {
            width: 75%;
        }
    }
}