@use "../config/mixins" as *;

.wrapper {
    width: 96%;
    margin: 11rem auto 0;

    &.margin-sero {
        margin: 0 auto;
    }

    @include break("s") {
        width: 90%;
        margin: 13rem auto 0;
    }

    @include break("lg") {
        width: 85%;
        margin: 14rem auto 0;
    }
}