@use "../config/index.scss" as *;


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding-top: 3rem;

    &.without-info {
        justify-content: flex-end;
    }

    .vocabulary-info {
        position: relative;
        width: fit-content;
        margin: 0 2rem 0 auto;

        .vocabulary-box {
            font-size: 0.75rem;
            position: relative;
            padding: 1rem 2rem;
            z-index: 1;

            @include break("s") {
                font-size: 1rem;
            }
        }
    }

    .personal-info-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        position: relative;
        width: fit-content;
        margin: 0 auto;

        .icon-svg,
        .my-github {
            z-index: 1;
        }

        .icon-svg {
            width: 2.5rem;
        }

        .my-github {
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .name {
                font-style: italic;
            }
        }
    }
}