@use "../config/index.scss" as *;

.modal-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: fit-content;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: $third_10;
    border-right: 0.0625rem solid $primary_90;
    border-bottom: 0.0625rem solid $primary_90;
    box-shadow: 0.3rem 0.3rem 1rem $primary_90;
    z-index: 100;
    overflow: hidden;
    padding: 1rem 0;

    @include break('md') {
        width: 85%;
    }

    @include break('xs') {
        width: 96%;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-items: center;
        padding: 1rem 1.5rem 1rem;
        flex-shrink: 0;

        h3 {
            font-size: 2rem;
            color: $primary;
        }
    }
}