@use "../config/index.scss" as *;

.modal-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 96%;
    height: fit-content;
    min-height: 47dvh;
    max-height: 80dvh;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: $third_10;
    border-right: 0.0625rem solid $primary_90;
    border-bottom: 0.0625rem solid $primary_90;
    box-shadow: 0.3rem 0.3rem 1rem $primary_90;
    z-index: 100;
    overflow: hidden;
    padding: 1rem 0;
    box-sizing: border-box;

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-items: center;
        padding: 1rem 0.5rem 1rem;
        flex-shrink: 0;

        @include break("sm") {
            padding: 1rem 2rem;
        }

        h3 {
            font-size: 1.5rem;
            color: $primary;
        }
    }

    .modal-image-box {
        display: flex;
        justify-content: center;
        min-height: 15rem;
        height: 100%;
        position: relative;
        padding: 0 0.5rem;
        overflow: hidden;

        @include break("sm") {
            min-height: 30rem;
            margin: 0 2rem;
        }

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
}