@use "../config/index.scss" as *;

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 3rem auto 1rem;
    position: relative;

    .buttons-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 0 auto;
    }

    .control-box {
        display: flex;
        gap: 1rem;

        .prev,
        .next {
            width: fit-content;
        }
    }
}