@use "../config/index.scss" as *;

.bg-swiper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 101;
}

.mySwiper {
    display: block;
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 102;

    --swiperWidth: 40rem;
    --swiperHeight: 17rem;
    width: var(--swiperWidth);
    height: var(--swiperHeight);

    @include break('md') {
        left: 50%;
        --swiperWidth: 35rem;
        --swiperHeight: 15rem;
    }

    @include break('sm') {
        --swiperWidth: 30rem;
    }

    @include break('xs') {
        --swiperWidth: 22rem;
    }

    .swiper-wrapper {
        width: fit-content;
        height: fit-content;

        .swiper-slide {
            width: var(--swiperWidth);
            height: var(--swiperHeight);
            border-radius: 1rem;
            box-shadow: 0 0.1rem 0.3rem $secondary_40;
            border: 0.0625rem solid $secondary_40;
            background-color: #fff;

            .slide-box {
                box-sizing: border-box;
                padding: 1rem;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                color: $third_120;
                cursor: grab;

                @include break('md') {
                    grid-template-columns: 60% auto;
                    gap: 1rem;
                }

                @include break('xs') {
                    grid-template-columns: 1fr;
                }

                .left-box {
                    display: flex;
                    flex-direction: column;
                    margin: 1rem 0 0;
                    height: fit-content;
                    position: relative;

                    .idx {
                        position: absolute;
                        top: -1rem;
                        left: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        color: $third_120;
                        background-color: $primary_10;
                        padding: 0.5rem;
                        border-radius: 50%;
                        opacity: 0.5;

                        @include break('s') {
                            top: calc(100% + 1.25rem);
                            left: -0.25rem;
                        }
                    }

                    h3 {
                        font-size: 2rem;
                        color: $third_120;
                        text-align: center;
                        margin: 2rem 0 0;

                        @include break('lg') {
                            font-size: 1.25rem;
                        }

                        @include break('sm') {
                            font-size: 1.75rem;
                        }

                        @include break('xs') {
                            z-index: 1;
                        }
                    }

                    h4 {
                        text-align: center;
                        margin: 0.5rem 0 0;
                    }

                    .transcription-box {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        @include break('xs') {
                            max-width: 75%;
                            margin: 0 0 0 auto;
                        }

                        .transcription {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            flex-wrap: wrap;
                            gap: 0.25rem;
                            width: fit-content;
                            font-size: 1.25rem;
                            padding: 0 0.25rem;
                            color: $secondary;
                            letter-spacing: 0.25rem;

                            @include break('lg') {
                                letter-spacing: 0.1rem;
                                font-size: 0.9rem;
                            }

                            @include break('sm') {
                                letter-spacing: 0.25rem;
                                font-size: 1.25rem;
                            }

                            @include break('xs') {
                                letter-spacing: 0.15rem;
                                font-size: 1.25rem;
                            }
                        }
                    }

                    u {
                        font-size: 1rem;
                        font-style: italic;
                        color: $fourth;
                        text-align: end;
                        margin: 0.25rem 0 0;

                        @include break('lg') {
                            font-size: 0.86rem;
                        }

                        @include break('sm') {
                            font-size: 1rem;
                        }
                    }
                }

                .right-box {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include break('xs') {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .image-box {
                        box-sizing: border-box;
                        height: 15rem;
                        aspect-ratio: 1;
                        margin: 0 auto;
                        box-shadow: 0.1rem 0.1rem 1rem $third_120;
                        border: 0.0625rem solid $primary_40;
                        overflow: hidden;
                        border-radius: 50%;

                        @include break('md') {
                            height: 12rem;
                        }

                        @include break('sm') {
                            height: 10rem;
                        }

                        @include break('xs') {
                            height: 7rem;
                        }

                        .image {
                            object-fit: cover;
                        }
                    }

                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin: 0;
        box-shadow: 0.1rem 0.1rem 1rem $third_120;
        border: 0.0625rem solid $primary_40;
        background-color: $third_40;
        border-radius: 1rem;
        width: 3rem;
        height: 4rem;
        color: $primary;
        transition:
            color 0.3s ease-in-out,
            background-color 0.3s ease-in-out,
            transform 0.3s ease-in-out;

        &:hover {
            color: $primary_50;
            transform: translateY(0.15rem);
            background-color: $secondary_20;
        }
    }

    .swiper-button-next {
        top: 15%;
        right: -20%;

        @include break('md') {
            top: 110%;
            right: 0%;
        }
    }

    .swiper-button-prev {
        top: 45%;
        left: 112%;

        @include break('md') {
            top: 110%;
            left: 69%;
        }

        @include break('sm') {
            top: 110%;
            left: 64.5%;
        }

        @include break('xs') {
            top: 110%;
            left: 45.5%;
        }
    }

    .swiper-autoplay {
        position: absolute;
        top: 75%;
        left: 112%;
        z-index: 1;

        @include break('md') {
            top: 110%;
            left: 80%;
        }

        @include break('sm') {
            top: 110%;
            left: 77%;
        }

        @include break('xs') {
            top: 110%;
            left: 65%;
        }
    }

    .swiper-pagination {
        left: 0 !important;
        transform: translateX(7.5rem) !important;

        .swiper-pagination-bullet {
            background-color: $secondary_90;

            &.swiper-pagination-bullet-active {
                background-color: $primary;
            }
        }
    }

    .autoplay-progress {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;

            circle {
                fill: none;
                stroke: $primary;
                stroke-width: 4;
                stroke-dasharray: 126;
                stroke-dashoffset: calc(126 * (1 - var(--progress, 0)));
                transition: stroke-dashoffset 0.1s linear;
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
            }
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: fit-content;
            height: fit-content;
            transform: translate(-50%, -50%);
            font-size: 0.90rem;
            font-weight: 700;
            color: $third_100;
        }
    }

    .close-icon {
        position: absolute;
        top: -4rem;
        right: -8.25rem;
        width: 3rem;
        z-index: 1;
        cursor: pointer;
        transition:
            transform 0.3s ease-in-out;
        padding: 0.25rem;
        border-radius: 50%;
        background-color: #fff;

        @include break('md') {
            top: -4rem;
            right: -2rem;
            width: 2rem;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}