@use "../config/index.scss" as *;
@use "../animations/index.scss" as *;

.scroll-progress {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    z-index: 100;

    .circle-box {
        display: block;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        visibility: hidden;
        opacity: 0;
        background-color: $third_10;
        transition:
            visibility 0.3s ease-in-out,
            opacity 0.3s ease-in-out;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        .icon-arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform:
                rotate(90deg) translate(-50%, 50%);
            width: 1.75rem;
            border-radius: 50%;
            user-select: none;
            z-index: 1;
            box-shadow: 0rem 0rem 2rem $primary_30;

            path {
                animation: scrollTop 4s linear infinite;
            }
        }

        .icon-progress {
            user-select: none;
            transform: rotate(-90deg);
            border-radius: 50%;
            stroke-width: 3;
            stroke-dasharray: 126;
            stroke-dashoffset: calc(126 * var(--progress));

            circle {
                margin: -4px;
                fill: transparent;
                stroke: $primary;
            }
        }
    }
}