@use "../config/index.scss" as *;

.word-stats-bar {
    margin: -0.5rem 0.5rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
    position: relative;

    @include break("xl") {
        margin: -1rem 0.5rem 0.5rem 0;
    }

    @include break("md") {
        margin: -0.5rem 0.5rem 0.5rem 0;
    }

    @include break("xs") {
        margin: -0.25rem 0.5rem 0.5rem 0;
    }

    .summ-box {
        display: flex;
        align-items: flex-start;
        gap: 0.25rem;
        border: 0.0625rem solid $primary;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
        font-weight: 700;
        box-shadow: 0 0.1rem 0.3rem $primary_90;
        font-size: 1.15rem;
        background-color: $secondary_10;

        .sum-number {
            color: $primary;

            .wodrs {
                text-transform: uppercase;
                color: $secondary;
            }
        }

        .info {
            width: 0.75rem;

            path {
                fill: $fifth;
            }
        }
    }


    .part-of-speech {
        padding: 0.5rem;

        .titles {
            padding-bottom: 0.5rem;
            border-bottom: 0.0625rem solid $third_40;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            color: $third_90;
            text-transform: uppercase;
            font-size: 0.75rem;
        }

        .parts-stats-box {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .part-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .title {}

                .total {
                    margin-right: 0.75rem;
                }
            }
        }
    }
}