@use "../config/index.scss" as *;
@use "../animations/index.scss" as *;

.word-form {
    .top-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 13rem;
        padding: 0 1.5rem 1rem;

        .row {
            width: 100%;
        }

        @include break("lg") {
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;
            padding: 0 1.5rem;
        }
    }

    .bottom-box {
        display: grid;
        grid-template-rows: 0fr;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition:
            grid-template-rows 0.3s ease-in-out,
            opacity 0.3s ease-in-out,
            visibility 0.3s ease-in-out;

        &.show-inputs {
            grid-template-rows: 1fr;
            pointer-events: all;
            opacity: 1;
            visibility: visible;

            .form {
                overflow-y: overlay;
            }
        }

        .form {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            position: relative;
            max-height: 20rem;
            scrollbar-width: thin;
            padding: 0 1rem;
            scroll-padding: 10rem;
            scrollbar-gutter: stable both-edges;

            .patrol-scroll {
                display: block;
                position: absolute;
                right: 0;
                top: 20%;
                height: 1.5rem;
                min-height: 1.5rem;
                width: fit-content;
                z-index: 1;
                animation: patrol-vertical 7s ease-in-out infinite;

                path {
                    fill: $secondary;
                }
            }

            .inputs-row {
                display: flex;
                gap: 5rem;

                @include break("lg") {
                    gap: 3rem;
                }

                @include break("md") {
                    flex-direction: column;
                    gap: 0.25rem;
                }
            }

            .group-buttons {
                display: flex;
                align-items: center;
                gap: 3rem;
                width: fit-content;
                height: fit-content;
                margin: 1.5rem 0 1rem auto;

                .add-new-word {}

                .cancel {}
            }
        }
    }
}