@use "../../config/index.scss" as *;

.container {
    position: relative;

    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem 3rem;

        @include break("lg") {
            gap: 0.5rem 1rem;
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}