@use "../config/index.scss" as *;

.settings {
    .settings-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .radio-group {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}