@use "../config/index.scss" as *;
@use "../animations/index.scss" as *;

.twin-quest {

    header {
        margin: 0 0 3rem;
        position: relative;

        .timer {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $third_90;
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem 1rem;
            margin-left: auto;
            border-radius: 1rem;
            box-shadow: 0.1rem 0.1rem 1rem $third;
            animation: pulse 1.5s infinite ease-in-out;

            span {
                font-size: 1.5rem;
                color: $third_10;
                animation: countdown 1s forwards linear;
            }
        }
    }

    .gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
        align-items: center;
        gap: 3rem;
        max-height: 40rem;
    }
}