@charset 'utf-8';
@use "sass:map";
@use "breakpoints";

@mixin break($breakpoint) {
    @if map.has-key(breakpoints.$breakpoints, $breakpoint) {
        @media (max-width: map.get(breakpoints.$breakpoints, $breakpoint)) {
            @content;
        }
    }
}